.container {
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
  width: 100%;
}

.items {
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  flex-direction: column;
  background-color: #3b83e0;
  width: 200px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: whitesmoke 2px 2px 7px;
  font-size: 20px;
}

.item:hover {
  background-color: #092dab;
}

.letter {
  font-size: 25px;
  color: #0c1639;
  text-shadow: white 1px 1px;
}
