.block {
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 60px;
}

.form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    color: #0c1639;
    width: 400px;
    height: 400px;
}

.text {
    text-align: center;
    font-size: 30px;
}

.error {
    color: red;
    font-size: 20px;
}