.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #90abab;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.navLinks {
  padding: 20px;
  color: #ebe7e7;
  width: 600px;
  display: flex;
  justify-content: space-between;
}

a {
  cursor: pointer;
  background-color: gray;
  width: 125px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
  transition: all 0.5s ease;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: whitesmoke;
  padding: 7px;
  margin: 10px;
}

a:hover {
  background: #020c15;
  box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
}

.btn {
  cursor: pointer;
  background-color: gray;
  width: 125px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
  transition: all 0.5s ease;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: whitesmoke;
  padding: 7px;
  margin: 10px;
}

.btn:hover {
  background: #020c15;
  box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
}
