.input {
  background-color: #f4e6e6;
  border: 1px solid blue;
  border-radius: 20px;
  font-size: 20px;
  padding: 3px;
  width: 400px;
  height: 50px;
  color: #092dab;
  margin-top: 120px;
}
@media (max-width: 440px) {
  .input {
    width: 85%;
  }
}

.input:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.superInput {
  margin-right: 10px;
}

.errorInput {
  border: 2px solid red;
}

.error {
}
