.cartItem {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-decoration: none;
  cursor: pointer;
  width: 350px;
  min-height: 450px;
  background-color: #3f3f5a;
  border-radius: 15px;
  margin: 15px;
  align-items: center;
  text-align: center;
  position: relative;
  flex-direction: column;
  padding: 20px;
  box-shadow: 10px 5px 5px black;
}

.detailedItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.imageItem {
  width: 350px;
  background-color: #11111d;
  border-radius: 15px;
  box-shadow: #4430d8 2px 2px 36px;
}

.description {
  text-align: left;
  background-color: #3f3f5a;
  border-radius: 15px;
  box-shadow: #0c1639 3px 4px 9px;
  width: 500px;
  padding: 20px;
}

.text {
  margin: 10px;
  padding: 15px;
  background-color: #3b3b50;
  border-radius: 7px;
  min-height: 120px;
  box-shadow: #4430d8 1px 1px 2px;
}

.mainContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0 40px 0;
}

.inputAuth {
  padding: 5px;
  border-radius: 3px;
  color: black;
}

.btnSubmit {
  background: #243d97;
  padding: 5px;
  border-radius: 7px;
}

.btnSubmit:hover {
  background: #0c1639;
  width: 90px;
}

.error {
  width: 300px;
  background: #010d0d;
  padding: 10px;
  border-radius: 6px;
  margin: 20px;
  color: red;
  text-shadow: whitesmoke 0.5px 0.5px;
  font-size: 30px;
}

.favoriteBtn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: red;
  margin-left: 30px;
  border: none;
  font-size: 20px;
}

.favoriteBtn:hover {
  background-color: #8c0606;
}

.buttons {
  display: flex;
  align-items: center;
}

.icon {
  margin-top: 15px;
  margin-left: 15px;
  width: 40px;
  height: 40px;
}
